In [1]:
import numpy as np
import pandas as pd
import xlrd

In [2]:
file_name = 'book1.xlsx'

In [3]:
data = pd.read_excel(file_name)
source = pd.DataFrame(data)
source

    lab tag    value
0     1  j1    3.076
1     1  j1    3.009
2     1  j1    3.165
3     1  j2   13.080
4     1  j2   12.636
5     1  j2   12.900
6     1  j3   48.912
7     1  j3   47.808
8     1  j3   48.192
9     1  j4  197.784
10    1  j4  184.451
11    1  j4  196.109
12    2  j1    3.176
13    2  j1    3.054
14    2  j1    3.035
15    2  j2   11.988
16    2  j2   12.084
17    2  j2   11.892
18    2  j3   50.448
19    2  j3   48.744
20    2  j3   48.912
21    2  j4  207.321
22    2  j4  211.965
23    2  j4  190.930

In [4]:
for lab  in data["lab"].unique():
    tmp = pd.DataFrame(data.loc[data.lab == lab ])
    for tag in tmp["tag"].unique():
        t = pd.DataFrame(tmp.loc[data.tag == tag])
#         print("lab> ", lab ," tag> ", tag)
#         print(t)
        new_data = pd.DataFrame(columns=tmp.columns)
        new_data = new_data.append({"lab":lab,"tag":tag+"mean","value":t.value.mean()},ignore_index=True)
        new_data = new_data.append({"lab":lab,"tag":tag+"std","value":t.value.std()},ignore_index=True)
        new_data = new_data.append({"lab":lab,"tag":tag+"kohr","value":t.value.std()*t.value.std()},ignore_index=True)
        data = pd.concat([data, new_data],ignore_index=True)

In [5]:
data

   lab     tag       value
0    1      j1    3.076000
1    1      j1    3.009000
2    1      j1    3.165000
3    1      j2   13.080000
4    1      j2   12.636000
5    1      j2   12.900000
6    1      j3   48.912000
7    1      j3   47.808000
8    1      j3   48.192000
9    1      j4  197.784000
10   1      j4  184.451000
11   1      j4  196.109000
12   2      j1    3.176000
13   2      j1    3.054000
14   2      j1    3.035000
15   2      j2   11.988000
16   2      j2   12.084000
17   2      j2   11.892000
18   2      j3   50.448000
19   2      j3   48.744000
20   2      j3   48.912000
21   2      j4  207.321000
22   2      j4  211.965000
23   2      j4  190.930000
24   1  j1mean    3.083333
25   1   j1std    0.078258
26   1  j1kohr    0.006124
27   1  j2mean   12.872000
28   1   j2std    0.223320
29   1  j2kohr    0.049872
30   1  j3mean   48.304000
31   1   j3std    0.560457
32   1  j3kohr    0.314112
33   1  j4mean  192.781333
34   1   j4std    7.262730
35   1  j4kohr   52.747246
36   2  j1mean    3.088333
37   2   j1std    0.076514
38   2  j1kohr    0.005854
39   2  j2mean   11.988000
40   2   j2std    0.096000
41   2  j2kohr    0.009216
42   2  j3mean   49.368000
43   2   j3std    0.939072
44   2  j3kohr    0.881856
45   2  j4mean  203.405333
46   2   j4std   11.050662
47   2  j4kohr  122.117140